if currentUser
    a#logout.ui.inverted.grey.big.button(href='#') 
        i.sign.out.icon
        | #{currentUser.username}
    #add.ui.big.inverted.icon.big.button
        i.plus.icon
else
    a.ui.icon.inverted.grey.button(href='/sign-in') 
        i.sign.in.icon
.ui.hidden.divider
.ui.inverted.transparent.big.left.icon.fluid.input
    i.search.icon
    input#search(type='text' autofocus='' autocomplete='off')
.ui.hidden.divider
if selected_tags
    #clear_tags.ui.big.icon.inverted.huge.button
        i.remove.icon
if selected_tags
    each selected_tags
        a.ui.big.inverted.huge.button.unselect_tag
            strong #{this}
    .ui.hidden.divider
each all_tags
    .ui.inverted.grey.button.select_tag(class=tag_cloud_class) #{this.name}
        // small #{this.count}
