template(name='docs')
    .ui.container
        +cloud
        if one_doc
            each docs
                +doc

template(name='doc')
    .ui.inverted.fluid.segment
        |!{body}

        // .extra
        //     div by {{author.username}} #{when}
        // .meta
        //     each tags
        //         .ui.inverted.button.tag(class=tag_class) #{this}
        // a.ui.icon.button(href="/view/#{_id}")
        //     i.angle.right.icon
        if is_author
            .edit.ui.icon.inverted.basic.big.button
                i.pencil.icon
            .clone.ui.icon.inverted.basic.big.button
                i.fork.icon
            .delete.ui.icon.inverted.basic.big.button
                i.remove.icon