with conversation
    .ui.container
        .content
            // .header
            //     |Conversation Topics:
            if can_edit
                +edit_tags
            else
                each tags
                    .ui.basic.label #{this}
            div
                |participants: &nbsp;
                .ui.horizontal.list
                    each participants
                        .item 
                            img.ui.avatar.image(src="{{c.url profile.image_id width=100 height=100 gravity='face' crop='fill'}}")
                            |#{username}
            .description
                .ui.divided.list
                    each conversation_messages
                        .item
                            strong #{this.author.profile.name}:
                            |#{this.text}
                            .meta #{this.when}
                if in_conversation
                    .ui.input
                        input.add_message(type='text' placeholder='add message')
        if currentUser
            .ui.hidden.divider
            if can_edit
                .ui.basic.button.close_conversation
                    |close
            if in_conversation
                .ui.basic.button.leave_conversation
                    |leave
            else
                .ui.basic.button.join_conversation
                    |join
    
