.ui.item
    .image
        // a(href="/view/#{_id}")
        //     img.ui.large.centered.image(src="{{c.url image_id }}")
        img(src="{{c.url author.profile.image_id width=300 height=300 gravity='face' crop='fill'}}")

    .content
        a(href="/view/#{_id}")
            h1.ui.header #{title}
        .meta
            each tags
                .ui.button.tag(class=tag_class) #{this}
        .description
            |!{description}
        .description
            |Price: $#{price}
        if can_edit
            .edit.ui.icon.basic.button
                i.pencil.icon.icon
        else
            | by #{author.username} #{when}
        // +user_card