template(name='docs')
    .ui.container
        .ui.divided.relaxed.items
            each docs
                +item

template(name='item')
    .ui.item
        if image_id
            .image
                a(href="/view/#{_id}")
                    img.ui.large.centered.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill' }}")
        .content
            a(href="/view/#{_id}")
                h1.ui.header #{title}
            .meta
                each tags
                    .ui.button.tag(class=tag_class) #{this}
            .description
                |!{description}
            .extra
                div by {{author.username}} #{when}
            if can_edit
                .edit.ui.icon.button
                    i.pencil.icon
                .clone.ui.icon.button
                    i.fork.icon
                    | Clone